/* Margin */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}
.m-3 {
  margin: 16px;
}
.m-4 {
  margin: 32px;
}
.m-5 {
  margin: 64px;
}

/* Padding */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 16px;
}
.p-4 {
  padding: 32px;
}
.p-5 {
  padding: 64px;
}

/* Margin e Padding apenas para um lado */
.m-t-1 {
  margin-top: 4px;
}
.m-r-1 {
  margin-right: 4px;
}
.m-b-1 {
  margin-bottom: 4px;
}
.m-l-1 {
  margin-left: 4px;
}

.p-t-1 {
  padding-top: 4px;
}
.p-r-1 {
  padding-right: 4px;
}
.p-b-1 {
  padding-bottom: 4px;
}
.p-l-1 {
  padding-left: 4px;
}

/* Display Flex e Grid
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
} */

.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-grid {
  display: grid;
}

/* Flex Justify e Align */
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

/* Largura */
.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.w-full {
  width: 100%;
}

/* Altura */
.h-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}

/* Height Utilities */
.h-0 {
  height: 0px;
}
.h-px {
  height: 1px;
}
.h-0\.5 {
  height: 0.125rem; /* 2px */
}
.h-1 {
  height: 0.25rem; /* 4px */
}
.h-1\.5 {
  height: 0.375rem; /* 6px */
}
.h-2 {
  height: 0.5rem; /* 8px */
}
.h-2\.5 {
  height: 0.625rem; /* 10px */
}
.h-3 {
  height: 0.75rem; /* 12px */
}
.h-3\.5 {
  height: 0.875rem; /* 14px */
}
.h-4 {
  height: 1rem; /* 16px */
}
.h-5 {
  height: 1.25rem; /* 20px */
}
.h-6 {
  height: 1.5rem; /* 24px */
}
.h-7 {
  height: 1.75rem; /* 28px */
}
.h-8 {
  height: 2rem; /* 32px */
}
.h-9 {
  height: 2.25rem; /* 36px */
}
.h-10 {
  height: 2.5rem; /* 40px */
}
.h-11 {
  height: 2.75rem; /* 44px */
}
.h-12 {
  height: 3rem; /* 48px */
}
.h-14 {
  height: 3.5rem; /* 56px */
}
.h-16 {
  height: 4rem; /* 64px */
}
.h-20 {
  height: 5rem; /* 80px */
}
.h-24 {
  height: 6rem; /* 96px */
}
.h-28 {
  height: 7rem; /* 112px */
}
.h-32 {
  height: 8rem; /* 128px */
}
.h-36 {
  height: 9rem; /* 144px */
}
.h-40 {
  height: 10rem; /* 160px */
}
.h-44 {
  height: 11rem; /* 176px */
}
.h-48 {
  height: 12rem; /* 192px */
}
.h-52 {
  height: 13rem; /* 208px */
}
.h-56 {
  height: 14rem; /* 224px */
}
.h-60 {
  height: 15rem; /* 240px */
}
.h-64 {
  height: 16rem; /* 256px */
}
.h-72 {
  height: 18rem; /* 288px */
}
.h-80 {
  height: 18.75rem; /* 300px */
}
.h-96 {
  height: 24rem; /* 384px */
}
.h-1\/2 {
  height: 50%;
}
.h-1\/3 {
  height: 33.333333%;
}
.h-2\/3 {
  height: 66.666667%;
}
.h-1\/4 {
  height: 25%;
}
.h-2\/4 {
  height: 50%;
}
.h-3\/4 {
  height: 75%;
}
.h-1\/5 {
  height: 20%;
}
.h-2\/5 {
  height: 40%;
}
.h-3\/5 {
  height: 60%;
}
.h-4\/5 {
  height: 80%;
}
.h-1\/6 {
  height: 16.666667%;
}
.h-2\/6 {
  height: 33.333333%;
}
.h-3\/6 {
  height: 50%;
}
.h-4\/6 {
  height: 66.666667%;
}
.h-5\/6 {
  height: 83.333333%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-svh {
  height: 100svh;
}
.h-lvh {
  height: 100lvh;
}
.h-dvh {
  height: 100dvh;
}
.h-min {
  height: min-content;
}
.h-max {
  height: max-content;
}
.h-fit {
  height: fit-content;
}

/* Bordas */
.border {
  border: 1px solid #ccc;
}
.border-none {
  border: none;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-right {
  border-right: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
.border-left {
  border-left: 1px solid #ccc;
}

/* Border Style */
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-double {
  border-style: double;
}
.border-hidden {
  border-style: hidden;
}
.border-none {
  border-style: none;
}

/* Border Radius */
.radius-0 {
  border-radius: 0;
}
.radius-1 {
  border-radius: 4px;
}
.radius-2 {
  border-radius: 8px;
}
.radius-3 {
  border-radius: 16px;
}
.radius-full {
  border-radius: 50%;
}
.rounded-pill {
  border-radius: 50rem;
}

/* Border Colors */
.border-gray-50 {
  border-color: rgba(249, 250, 251, 1);
}
.border-gray-100 {
  border-color: rgba(243, 244, 246, 1);
}
.border-gray-200 {
  border-color: rgba(229, 231, 235, 1);
}
.border-gray-300 {
  border-color: rgba(209, 213, 219, 1);
}
.border-gray-400 {
  border-color: rgba(156, 163, 175, 1);
}
.border-gray-500 {
  border-color: rgba(107, 114, 128, 1);
}
.border-gray-600 {
  border-color: rgba(75, 85, 99, 1);
}
.border-gray-700 {
  border-color: rgba(55, 65, 81, 1);
}
.border-gray-800 {
  border-color: rgba(31, 41, 55, 1);
}
.border-gray-900 {
  border-color: rgba(17, 24, 39, 1);
}
.border-gray-950 {
  border-color: rgba(3, 7, 18, 1);
}

.border-primary {
  border-color: rgba(30, 119, 209, 1);
}

/* Cores */
.text-primary {
  color: #1976d2;
}
.text-secondary {
  color: #424242;
}
.text-error {
  color: #ff5252;
}
.text-success {
  color: #4caf50;
}
.text-muted {
  color: #b0bec5;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Background */
.bg-primary {
  background-color: #1976d2;
}
.bg-secondary {
  background-color: #424242;
}
.bg-light {
  background-color: #f5f5f5;
}
.bg-dark {
  background-color: #212121;
}

/* Transparência */
.bg-opacity-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-opacity-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-opacity-35 {
  background-color: rgba(0, 0, 0, 0.35);
}

.bg-opacity-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-opacity-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-opacity-white-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-opacity-white-75 {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-opacity-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-opacity-white-35 {
  background-color: rgba(255, 255, 255, 0.35);
}

.bg-opacity-white-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-opacity-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Tamanho de fonte */
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 24px;
}

/* Font Weight */
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* Text Align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Flexbox Align Self */
.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}

/* Visibility */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/* Opacity */
.opacity-100 {
  opacity: 1;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-0 {
  opacity: 0;
}

/* Sombras */
.shadow-1 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.shadow-2 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.shadow-3 {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.shadow-none {
  box-shadow: none;
}

/* Transições */
.transition {
  transition: all 0.3s ease;
}
.transition-opacity {
  transition: opacity 0.3s ease;
}
.transition-transform {
  transition: transform 0.3s ease;
}

/* Gap (espaçamento entre itens em flexbox e grid) */
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 16px;
}
.gap-4 {
  gap: 32px;
}
.gap-5 {
  gap: 64px;
}

/* mouse events */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  pointer-events: none;
}

/* Overflow utility classes */

/* Overflow X */
.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-visible {
  overflow-x: visible;
}

/* Overflow Y */
.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-visible {
  overflow-y: visible;
}

/* Overflow both */
.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

/* Classe para ajustar a imagem ao container mantendo a proporção */
.img-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Classe para cobrir o container com a imagem mantendo a proporção */
.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Classe para centralizar a imagem */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Classe para definir uma largura máxima */
.img-max-width {
  max-width: 100%;
  height: auto;
}

/* Classe para definir uma altura máxima */
.img-max-height {
  max-height: 100%;
  width: auto;
}

.debug-border * {
  border: 1px solid red !important;
}

.debug-border-dashed * {
  border: 1px dashed red !important;
}
